* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #f6f8fd;
    --secondary-color: #D77423;
    --color-text: #231942;
    --navbar-color: #ffffff;
    --navbar-color-text: #000000;
    --navbar-container: #27BDB1;
  }

/* style navbar */
.navbar{
    position: fixed;
    padding: 15px 0 15px 0;
    width: 100%;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    z-index: 9999;


  }
  
.navbar.color-active {
    background-color: #ffffff;
    padding: 8px 0 8px 0;
    border-bottom: 2px solid #4090CE;
  }

.navbar .nav-link a {
    padding: 5px 10px 5px 10px;
    font-weight:  500;
    text-decoration: none;
    color : var(--color-text);
    }

.navbar .nav-link a:hover {
    color: var(--secondary-color);
    }

.navbar .nav-link .active{
        background-color: var(--navbar-container);
        color: var(--primary-color);
        border-radius: 7px 7px 7px 7px;
    }

.navbar .nav-link .active:hover{
        color: var(--navbar-color);
    }